<div class="container-xxl p-0 mt-4">
  <h1>HELLO WỎLD</h1>
  <a href="/form">Bấm vào đây để vào Form</a>
  <br>
  <a href="/data">Bấm vào đây để vào Data</a>
  <br></br>
  <div class="row gx-2" style="height: 350px;">
    <div class="col-lg-5" style="position: relative;">
      <video id="videoCam"
        style="height:350px; position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);"></video>
    </div>
    <div class=" col-lg-5">

    </div>
    <div class="col-lg-2">
      <img src="https://mcdn.coolmate.me/image/April2023/meme-ech-xanh-1.jpg" alt=""
        style="width:100%; object-fit:cover;">
      <h5>Biển số xe:</h5>
      <p>Metadata:</p>
    </div>
  </div>
  <div class="row gx-2" style="height: 100px; ">
    <h3 style="line-height: 100px;">Khớp, đéo khớp</h3>
  </div>
  <div class="row gx-2" style="height: 350px;">
    <div class="col-lg-5">

    </div>
    <div class=" col-lg-5">

    </div>
    <div class="col-lg-2">
      <img src="https://mcdn.coolmate.me/image/April2023/meme-ech-xanh-1.jpg" alt=""
        style="width:100%; object-fit:cover;">
      <h5>Biển số xe:</h5>
      <p>Metadata:</p>
    </div>
  </div>
</div>

<script>
  function openCam() {
    let allMediaDevices = navigator.mediaDevices
    if (!allMediaDevices || !allMediaDevices.getUserMedia) {
      console.log("getUserMedia() not supported.");
      return;
    }

    allMediaDevices.getUserMedia({
      video: true
    })
      .then(function (vidStream) {
        var video = document.getElementById('videoCam');
        if ("srcObject" in video) {
          video.srcObject = vidStream;
        } else {
          video.src = window.URL.createObjectURL(vidStream);
        }
        video.onloadedmetadata = function (e) {
          video.play();
        };
      })
      .catch(function (e) {
        console.log(e.name + ": " + e.message);
      });
  }

  document.addEventListener('DOMContentLoaded', openCam)
</script>