<div class="container-xxl p-0 mt-4">
  <h1>HELLO WỎLD</h1>
  <a href="/form">Bấm vào đây để vào Form</a>
  <br>
  <a href="/data">Bấm vào đây để vào Data</a>
  <br></br>
  <div class="row gx-2" style="height: 350px;">
    <div class="col-lg-5">
      <iframe style="width:100%; height:100%;" src="https://www.youtube.com/embed/Yw9Ra2UiVLw"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>
    <div class=" col-lg-5">
      <iframe style="width:100%; height:100%" src="https://www.youtube.com/embed/dz6xe0xXqYE"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2">
      <img src="https://mcdn.coolmate.me/image/April2023/meme-ech-xanh-1.jpg" alt=""
        style="width:100%; object-fit:cover;">
      <h5>Biển số xe:</h5>
      <p>Metadata:</p>
    </div>
  </div>
  <div class="row gx-2" style="height: 100px; ">
    <h3 style="line-height: 100px;">Khớp, đéo khớp</h3>
  </div>
  <div class="row gx-2" style="height: 350px;">
    <div class="col-lg-5">
      <iframe style="width:100%; height:100%" src="https://www.youtube.com/embed/6fzH7a3XQW0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class=" col-lg-5">
      <iframe style="width:100%; height:100%" src="https://www.youtube.com/embed/L_z9YHX5ous"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-lg-2">
      <img src="https://mcdn.coolmate.me/image/April2023/meme-ech-xanh-1.jpg" alt=""
        style="width:100%; object-fit:cover;">
      <h5>Biển số xe:</h5>
      <p>Metadata:</p>
    </div>
  </div>
</div>