<div style="width: 800px; margin: 20px 0 0 20px;">
  <a href="/">Bấm vào đây để về Home</a>
  <br></br>

  <div class="mb-3">
    <label for="jsonFileInput" class="form-label">File JSON:</label>
    <input type="file" id="jsonFileInput" class="form-control" required>
  </div>

  <button class="btn btn-primary" onclick="submitJSON()">Submit</button>

</div>


<div id="jsonOutput"></div>

<script>
  function submitJSON() {
    const fileInput = document.getElementById('jsonFileInput');
    const file = fileInput.files[0];
    const reader = new FileReader();

    reader.onload = function (event) {
      const jsonContent = event.target.result;
      const jsonData = JSON.parse(jsonContent);
      console.log(jsonData)
      return jsonData
    };

    reader.readAsText(file);
  }

</script>